body {
  margin: 0;
  padding: 0;
  color: #ccc;
  background: url('stralen.gif') no-repeat fixed bottom right;
  background-size: cover;
}

.logo {
  margin: 50px auto;
  width: 200px;
}

.gras, .meergras, .konijn {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.gras {
  background: url('gras.png') repeat-x center bottom;
  height: 225px;
}

.meergras {
  background: url('meergras.png') repeat-x center bottom;
  height: 137px;
}

.konijn {
  background: url('knijn.png') no-repeat right 50px;
  right: 20px;
  height: 225px;
}
